pyspark==3.5.0 #Spark 3.5 is more stable than 4.1 for linux+windows users
pandas
numpy
sqlalchemy
psycopg2-binary
json

create schema if not exists minio_catalog.test


create table testme as SELECT *
FROM deltaLake(
    'http://minio:9000/raw/sample_events_delta',
    'minio',
    'minio123'
);