psycopg2-binary
pyspark==3.5.0
pandas
numpy
sqlalchemy
requests
apache-airflow-providers-amazon
apache-airflow-providers-common-sql
airflow-clickhouse-plugin
airflow-clickhouse-plugin[common.sql]
clickhouse-driver
clickhouse-driver[lz4,zstd]
delta-spark==3.2.0